.commenter {
  width: 50px;
  height: 40px;
  background: black;
  margin-right: 10px;
}

img {
  background-size: cover;
  width: 50px;
}

.comment-content {
  width: 100%;
  display: block;
  border: 1px solid #d1d5da;
}

.comment-body {
  display: flex;
  margin-bottom: 20px;
}

.comment-header {
  border-bottom: 1px solid #d1d5da;
  background-color: #f6f8fa;
}

.comment-header,
.comment-text {
  padding: 15px;
}
